.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  --triggered-background-color: #a7a39d;
  --untriggered-background-color: gray;
}

.full-size {
  height: 100%;
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.flex-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.flex-end {
  display: flex;
  justify-content: end;
}

.board-title {
  text-transform: capitalize;
}

.cell-box {
  background-color: var(--untriggered-background-color);
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.cell-box div {
  width: 100%;
  height: 100%;
}

.untrigger {
  background-color: var(--untriggered-background-color);
  color: var(--untriggered-background-color);
}

.safe {
  background-color: var(--triggered-background-color);
  color: var(--triggered-background-color);
}

.number {
  background-color: var(--triggered-background-color);
  color: blue;
}

.mine {
  color: red;
}

/* .flag {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
  background-color: var(--triggered-background-color);
  color: var(--triggered-background-color);
} */

div.flag {
  margin: 8px auto;
  width: 12px;
  height: 7px;
  background-color: #f00;
  position: relative;
}

.flag:before {
  white-space: nowrap;
  content: "";
  position: absolute;
  top: -1.2px;
  right: 0px;
  width: 0;
  height: 0;
  border-right: 5px solid var(--untriggered-background-color);
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
}

.flag:after {
  content: "";
  border: 0.7px solid black;
  position: absolute;
  height: 5px;
  top: 7px;
  left: 0px;
  background-color: black;
}
